/* ----------------- STARTPAGE -----------------*/
section {
    width: 40%;
}

/* ----------------- PRODUCT PAGE -----------------*/
.single-product {
    width: 33%;
}
.product-img {
    height: 542px;
}
h5 {
    font-size: 22px;
}